@import "vars"
@import "fonts"
@import "libs"


body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
a, button, .btn
    &:focus
        box-shadow: none
        outline: none

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%
.arrow
    margin-left: 10px
b, strong
	font-weight: bold
p
    font-family: "ApercuPro-Light"

h1, h2, button
    font-family: "ApercuPro-Bold"
    font-size: 60px
    font-weight: 700
button.fancybox-close-small
    font-size: inherit!important
button
    border-radius: 0!important
    
.btn-green
    background-color: $green-bg
    color: #fff
    &:hover
        background-color: $green-bg-hover
    
.btn-white
    background-color: #fff
    color: #000
    &:hover
        color: $green-bg
    
.box-shadow
    box-shadow: 10px 10px 0px 0px $shadow-gray

.screen
    padding: 80px 0    
    
.screen-bg
     background-color: #fafafb
.rub
    font-family: sans-serif
header, footer
    line-height: 1
    padding: 10px 0
    .logo-wrapper
        p
            color: $text
            line-height: 1.5
            font-size: 20px
            font-weight: 300
            margin-bottom: 0
            margin-left: 20px
    .your-city
        p
            font-family: "ApercuPro-Medium"
            font-size: 22px
            font-weight: 500
            margin-bottom: 0
        .place-wrapper
            margin-bottom: 14px
            p
                font-family: "ApercuPro-Light"
                margin-bottom: 0
                font-size: 18px
                font-weight: 300
                margin-left: 14px
    .contacts-wrapper
        p
            font-size: 18px
            font-weight: 300
            margin-bottom: 13px
        a.tel
            font-family: "ApercuPro-Medium"
            font-size: 24px
            font-weight: 500
            margin-bottom: 10px
            display: block
            color: #000
        .work-time
            color: $green-bg
            font-family: "ApercuPro-Medium"
            font-size: 18px
            font-weight: 500
            margin-bottom: 0
    
.main-screen
    background: url('../img/bg-1.jpg') no-repeat
    background-size: cover
    h1
        color: #fff
        margin-bottom: 30px
    p
        color: #fff
        font-size: 26px
    .bullet
        margin-top: 30px
        margin-bottom: 65px
        p
            font-size: 22px
            line-height: 30px
            margin-bottom: 0
    .buttons-wrapper
        button
            font-size: 16px
            line-height: 30px
            letter-spacing: 0.8px
            height: 70px
        p
            font-family: "ApercuPro-Medium"
            font-size: 14px
            font-weight: 500
            line-height: 30px

.sticky
    background: #fff
    box-shadow: 0 3px 6px -1px rgba(0,0,0,0.2)
    font-family: "ApercuPro-Medium"
    nav
        a
            color: #000
            font-size: 18px
    .contacts-wrapper
        p
            font-family: "ApercuPro-Light"
            margin-bottom: 0
            font-size: 18px
            font-weight: 300
        a.tel
            font-size: 24px
            font-weight: 500
            margin-bottom: 0
            display: block
            color: #000
    .buttons-wrapper
        button
            font-family: "ApercuPro-Light"
            font-size: 13px
            height: 60px
.sticky
    .container
        display: none
        padding: 8px 0
.scroll-to-fixed-fixed
    .container
        display: block!important

.second-screen
    padding-top: 130px
    h2
        margin-bottom: 32px
    .products-tabs
        .nav-item 
            margin-right: 40px
            .nav-link
                color: #160905
                font-family: "ApercuPro-Medium"
                font-size: 16px
                font-weight: 700
                line-height: 30px
                letter-spacing: 0.8px
                border-bottom: 1px solid $shadow-gray
                &.active
                    border-bottom: 2px solid $green-bg
    .product-item
        width: 100%
        max-width: 1020px
        padding: 20px 40px
        &:hover
            background: #fafafb
        .product-img-wrapper
            img
                width: 140px
                height: 140px
        .product-name-wrapper
            .product-name
                color: #373737
                font-family: "ApercuPro-Bold"
                font-size: 26px
                font-weight: 700
                margin-bottom: 13px
            p
                color: #040302
                font-size: 20px
                font-weight: 300
                margin-bottom: 0
        .product-spec
            p
                color: $text-gray
                font-size: 16px
                font-weight: 300
                line-height: 22px
                margin-bottom: 0
                strong
                    color: #160905
                    font-family: "ApercuPro-Bold"
                    font-weight: 500
        .product-price
            p
                color: #040302
                font-size: 24px
                font-weight: 300
            button
                font-size: 14px
                font-weight: 700
                line-height: 30px
                letter-spacing: 0.7px
                height: 62px
.third-screen
    h2
        margin-bottom: 60px
    img
        width: 210px
        height: 300px
        margin-bottom: 45px

    h3
        color: #373737
        font-family: "ApercuPro-Bold"
        font-size: 30px
        font-weight: 700
        margin-bottom: 20px
    p
        color: #040302
        font-size: 18px
        font-weight: 300
        line-height: 28px

.fourth-screen
    background: url('../img/bg-2.jpg') no-repeat
    background-size: cover
    p
        color: #fff
        font-size: 32px
        line-height: 42px
        margin-bottom: 40px
        strong        
            font-family: "ApercuPro-Bold"
            font-weight: 700
    .small-p
        //font-family: "ApercuPro-Bold"
        font-size: 14px
        //font-weight: 500
        line-height: 30px
        margin-bottom: 0
    button
        height: 72px
    .btn-bottom
        margin-bottom: 30px
        
.fifth-screen
    h2
        margin-bottom: 40px
    .btn
        left: 12%
        top: 47%
        font-family: "ApercuPro-Bold"
        font-size: 12px
        font-weight: 700
        line-height: 24px
        text-transform: uppercase
        width: 165px
        height: 47px

.garanties-wrapper
    .garanties-item
        margin-top: 70px
        .garanties-icon-wrapper
            .counter
                top: -10px
                left: -10px
                width: 30px
                height: 30px
                color: #000
                background-color: #ffcb05
                p
                    font-family: "ApercuPro-Medium"
                    font-size: 14px
                    font-weight: 500
                    line-height: 30px
                    letter-spacing: -0.35px
                    margin-bottom: 0
                    vertical-align: middle
                    text-align: center
.sixth-screen
    h2
        margin-bottom: 60px
    .slider-wrapper
        .slider-item
            color: #373737
            img 
                width: 100%
                max-width: 200px
                height: 100%
                max-height: 200px
                margin: 0 auto
            .item-name
                font-family: "ApercuPro-Medium"
                font-size: 24px
                font-weight: 500
                line-height: 32px
                margin-top: 22px
                margin-bottom: 15px
            .item-desc
                font-size: 16px
                font-weight: 300
                line-height: 22px
                margin-bottom: 20px
            .item-price-wrapper
                padding: 5px 8px
                background: #ffcb05
                max-width: 125px
                margin: 0 auto
                .item-price
                    font-family: "ApercuPro-Medium"
                    font-size: 18px
                    font-weight: 500
                    line-height: 30px
                    margin-bottom: 0
.slick-prev 
    background: url('../img/sprite.png') -78px -19px no-repeat
.slick-next 
    background: url('../img/sprite.png') -17px -72px no-repeat
.slick-prev:hover 
    background: url(../img/sprite.png) -19px -19px no-repeat
.slick-next:hover 
    background: url(../img/sprite.png) -75px -72px no-repeat
.slick-next, .slick-prev
    width: 20px
    height: 34px
    &:before
        content: ''!important
        
.seventh-screen
    background: url('../img/bg-3.jpg') no-repeat
    background-size: cover
    h2
        color: #fff
        margin-bottom: 60px
    h3
        color: #fff
        font-family: "ApercuPro-bold"
        font-size: 32px
        font-weight: 700
        line-height: 42px
        margin-bottom: 20px
    .pseudo-li
        p
            margin-bottom: 30px
            color: #fff
            font-size: 24px
            line-height: 32px
            strong
                font-family: "ApercuPro-Bold"
                font-weight: 700
        img
            top: 15px
            position: relative
            margin-right: 15px
    //.judicial-card.w175
        width: 175px
    .judicial-card-wrapper
        position: relative
        height: 220px
        .jc-1
            padding-left: 29px !important
            margin-right: 20px
            max-width: 175px
        .jc-2
            max-width: 315px
            padding-right: 0
            right: -50px
        .judicial-card
            width: 100%
            position: absolute
            padding: 30px 
            background: #fff
            color: #000
            height: 220px
            p
                word-break: break-all
                color: #0a0304
                font-size: 18px
                font-weight: 300
                line-height: 19px
                margin-top: 20px
                margin-bottom: 0
                strong
                    font-family: "ApercuPro-Bold"
                    font-size: 24px
                    font-weight: 700
                    line-height: 30px
.eights-screen
    padding: 0
    .map-wrapper
        width: 100%
        height: 624px
    .map-info
        z-index: 1
        background: #fff
        right: 0
        padding-top: 60px
        padding-left: 50px
        padding-right: 15px
        padding-bottom: 60px
        h2
            font-size: 32px
            line-height: 30px
            margin-bottom: 30px
        .map-contacts
            p
                color: #040302
                font-family: "ApercuPro-Light"
                font-size: 20px
                font-weight: 300
                line-height: 30px
                margin-bottom: 21px
            .map-tel, .map-mail
                margin-left: 57px
                &:hover
                    cursor: pointer
            .mailing
                img
                    margin-right: 25px
            .buttons-wrapper
                button
                    height: 62px
                .black-border
                    border: 2px solid #373737
                    &:hover
                        border: 2px solid $green-bg
                        color: #000
                p
                    color: #000000
                    font-family: "ApercuPro-light"
                    font-size: 14px
                    font-weight: 300
                    line-height: 30px
                .last
                    margin-bottom: 0
.nineth-screen
    padding-bottom: 60px
    form
        input, textarea
            border-radius: 0
        input
            height: 72px
            margin-bottom: 20px
        input[type=submit]
            font-family: "ApercuPro-Bold"
            font-size: 16px
            font-weight: 700
            line-height: 30px
            letter-spacing: 0.8px
            margin-bottom: 0
footer
    .jur-info
        p
            font-size: 15px
            font-weight: 300
            line-height: 26px
            margin-bottom: 0
    .links
        a
            display: block
            margin-left: 30px
            color: #000
            text-decoration: none
            display: block
            font-family: "ApercuPro-Light"
            font-size: 15px
            font-weight: 300
            line-height: 26px
            &:hover
                text-decoration: underline
.popup
    display: none
    width: 100%
    max-width: 440px
    h2
        margin-top: 20px
        font-size: 21px
        color: #000
        text-transform: uppercase
    p
        font-size: 18px
        color: #000
    .form
        padding: 0
        input[type=submit], input[type=tel], input[type=name]
            height: 72px
            border: 1px solid $shadow-gray
        input[type=submit]
            text-transform: uppercase
            border: none
        .form-check-label
            font-family: "ApercuPro-Medium"
            font-weight: 500
            font-size: 15px
            margin-left: 5px
            &:hover
                text-decoration: underline
                cursor: pointer
#privacy
    touch-action: pan-y
    max-width: 600px!important
    padding: 0 20px
    line-height: 1.5
    .privacy-title
        margin: 20px 0
        font-family: "ApercuPro-Medium"
        font-size: 20px
        font-weight: 500
    .privacy-list, .privacy-p
        font-family: "ApercuPro-Light"
        font-weight: 300
        font-size: 18px
        
.fancybox-content
    padding: 12px
.compensate-for-scrollbar
    margin-right: 17px!important
    
    
    

@import "media" // Always at the end
